@import "../../assets/scss/variables.scss";

.stats-banner{
    background: url('../../assets/images/bg-2.png'), url('../../assets/images/stats-banner.png');
    background-size:25%, 50%;
    padding: 100px 0 300px;
    background-repeat: no-repeat;
    background-position-x: left, right;
    @media screen and (max-width: 1024px) {
        padding: 100px 0 200px;
    }
    @media screen and (max-width: 767px) {
         padding: 100px 0 150px;
    }
    h1{
        font-size: 2.6rem;
    }
    p{
        font-size: $font-size-lg + 2;
        color: $text-color-secondary;
        max-width: 600px;
    }
}

.stats-section{
    background: $background-secondary;
    position: relative;
    padding-bottom: 40px;
    &:before{
        content: ' ';
        width: 100%;
        height: 100%;
        display: block;
        background: url('../../assets/images/bg-3.png');
        position: absolute;
        top: -300px;
        background-repeat: no-repeat;
        background-position-x: right;
    }
    .stats-path{
        width: 100%;
        margin-top: -300px;
    }
    .ant-tabs{
        margin-top: -100px;
        .ant-tabs-nav-operations{
            background: $primary-color;
            svg{
                fill: #fff;
                width: 30px;
            }
        }
        .ant-tabs-ink-bar{
            background: $primary-color;
            top: 0;
            height: 3px;
        }
        .ant-tabs-nav-wrap{
            background: #142D51;
            .ant-tabs-nav-list{
                width: 100%;
                justify-content: space-between;
                .ant-tabs-tab{
                    text-align: center;
                    display: block;
                    color: #6983A9;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 18px 30px;
                    margin: 0;
                    &.ant-tabs-tab-active{
                        .ant-tabs-tab-btn{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .statschart-card{
        background: #142D51;
        padding: 20px 30px 20px 20px;
        margin-bottom: 35px;
        .statschart-card-inner{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: 767px) {
                display: block;
            }
            .stats-chart{
                width: 100%;
                .chart-head{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    @media screen and (max-width: 480px) {
                        display: block;
                    }
                    h3{
                        text-transform: uppercase;
                    }
                    .ant-radio-group{
                        .ant-radio-button-wrapper{
                            background: #0D2240;
                            color: #6983A9;
                            text-transform: uppercase;
                            font-weight: 600;
                            border-color: #005D80;
                            &:before{
                                background: #005D80;
                            }
                            &.ant-radio-button-wrapper-checked{
                                background: #0764A3;
                                color: $white;
                            }
                        }
                    }
                }
            }
            .stats-count{
                .count-card{
                    background: #0D2240;
                    text-align: center;
                    padding: 15px 20px;
                    margin-top: 25px;
                    h1{
                        color: $white;
                        margin-bottom: 5px;
                        font-size: 2.2rem;
                        font-weight: bold;
                    }
                    p{
                        color: $white;
                        opacity: 0.4;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 0;
                        font-size: $font-size-base;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}